ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: #333;
}

a .hover{
	text-decoration: none;
	color: #333;
}

#header{
	background-color: #223F53;
	color: white;
	font-family:'Graduate', cursive;
	padding: 10px;
	border-bottom: 2px solid #56A0D3;
	padding: 40px;
	background-image: url('../imgs/header.jpg');
	background-position: center;
	background-repeat: no-repeat;
}

.player-li-box{
	background-color: #eee;
	margin: 5px;
	border: 1px solid white;
	padding: 10px;
}

.stats-box{
	background-color: #ddd;
	margin: 2px;
	border-radius: 5px;
}

.stats-border{
	border: 2px solid #56A0D3;
	border-radius: 5px;
}