<!DOCTYPE html>

<html>
<head>

<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
<title>{% block title %}UNC Baseball{% endblock %}</title>
</head>

<body>

{% block header %}
<div class="header">
<p>Hi!</p>
</div>
{% endblock %}

<div class="container">

{% block content %}
{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
  less = {
    env: "development",
    logLevel: 2,
    async: false,
    fileAsync: false,
    poll: 1000,
    functions: {},
    dumpLineNumbers: "comments",
    relativeUrls: false,
    rootpath: ":/a.com/"
  };
</script>
<script src="{{STATIC_URL }}js/less-1.6.3.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
</html>