<!DOCTYPE html>

{% extends "base.html" %}
{% load humanize %}

{% block content %}
	<h2>Baseball</h2>
	</div>
	<div class="instafeed-box">
		<div id="instafeed"></div>
	</div>
	<div class="container">
	<h3>Players: 2013-2014</h3>
	<hr />
	<ul>
	{% for player in players %}
	<div class="col-md-4">
		<li>
			<h5><a href="{{player.pk}}"><b>{{ player.number }}</b> {{ player.name }}</a></h5>
		</li>
	</div>
	{% endfor %}
	</ul>
	<hr />

	<h3>Coaches</h3>
	<ul>
	{% for coach in coaches %}
		<li class="player-li-box">
			<h5>{{ coach.firstname }} {{ coach.lastname }}</h5> <p>{{ coach.title }}</p>
		</li>
	{% endfor %}
	</ul>

{% endblock %}