<!DOCTYPE html>

{% extends "base.html" %}
{% load humanize %}

{% block content %}
</div><!--container-->
		<div class="container">	
			<div class="row">
				<div class="col-sm-1">
				<img src="{{ player.thumbnail }}">
				</div>
				<div class="col-md-offset-2">
				<h3>{{ player.name }}</h3>
				<h5> {{ player.number }}</h5>
				<h5>{{ player.position }}</h5>
				</div>
			</div>
	</div>
	<div class="container">
	<div class="stats-border">
		<div class="col-md-6">
			<h3>Bio</h3>
			<hr />
				<h5>Height: {{ player.height }}</h5>
				<h5>Weight: {{ player.weight }}</h5>
				<h5>Hometown: {{ player.hometown }}</h5>
				<h5>High School: {{ player.highschool }}</h5>
			<hr />
		</div>
		<div class="col-md-offset-6">
				<img src="http://api.tiles.mapbox.com/v3/anniedaniel.h6l94pb1/pin-m-monument({{player.home_long}},{{player.home_lat}})/{{player.home_long}},{{player.home_lat}},7/400x300.png" />
		</div>
	</div>
		<hr />
		<div class="stats-border">
			<h3>Stats</h3>
			<hr />
				<h5>Batting Average: {{ player.batting_agv }}</h5>
				<h5>Hits: {{ player.hits }}</h5>
				<h5>Runs: {{ player.runs }}</h5>
				<h5>Homeruns: {{ player.homeruns }}</h5>
				<h5>  </h5>
			<hr />
		</div>
	<div class="row">

	<p> {{ player.story }}</p>
	</div>


{% endblock %}